

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  padding: 0%;
  margin: 0%;
  background-color: #EEEDDE;
}

/* styling Navbar component */
.navbar{
  background:#495371;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
/* styling the brand */
.brand{
  font-size: 2rem;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.brand p{
  margin: 0px;
  padding: 0px 10px;
}

/* add style to navbar links */
.navbar-links ul{
  display: flex;
  font-family: 'Poppins', sans-serif;
}
.navbar-links li{
  list-style-type: none;


}
.navbar-links a{
  text-decoration: none;
  color: rgb(231, 228, 228);
  font-size: 1.5rem;
  padding: 0px 20px;
  
}
.navbar-links li:hover{
  background-color: rgb(187, 166, 211);
}

/* add styles to hamburger button */
.toggle-button{
  position: absolute;
  top:0.5rem;
  right:1rem;
  width: 50px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.toggle-item{
  
  margin:6px;
  width:40px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
  
}

/*styling the main heading*/
.heading{
  text-align: center;
  font-size: 3.0rem;
  color: #495371;
  padding-top: 55px;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

/* add styles to heading paragraph */

.headingpara{
  text-align: center;
  color: #282e41;
  font-family: "Poppins",sans-serif;
  font-size: 2rem;
}


/*styling the items container*/

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* style of news item */

.newsitem {
  width: 25%;
  border: 2px solid #f4f4f4;
  margin: 30px;
  border-radius: 10px;
  background-color: #faf9f2;
  
}

.newsitem img {
  width: 340px;
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.newsitem h1 {
  font-size: 25px;
  text-align: left;
  padding:5px;
  margin:5px;
}
.newsitem p {
  font-size: 20px;
  padding:5px;
  margin:5px;
}

.btn{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color:rgb(92, 92, 206);
  margin: 20px;
  color: white;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(206, 205, 221);
}
.btncontainer{
  display: flex;
  align-items: center;
  justify-content:space-between;
}


/* adding responsiveness  */

@media only screen and (max-width:900px){
.newsitem{
  width: 40%;
}

.brand{
  padding: 12px;
}
}


@media only screen and (max-width:930px){
  
  .newsitem{
    width: 40%;
  }
  .brand{
    padding: 12px;
  }

  .navbar{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
   width: 100%;
    
  }
  .navbar-links{
    width:100%;
    display: none;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
   
  }
  .navbar-links ul li{
   text-align: center;
    
  }
  .toggle-item{
    display: flex;
  }
  .toggle-button{
    display:block;
  }

}

@media only screen and (max-width:650px){
  .newsitem{
    width: 85%;
  }
  .brand{
    padding: 12px;
  }
}